<p id="notice"><%= notice %></p>

<p>
  <strong>Welcome:</strong>
  <%= @letter.welcome %>
</p>

<p>
  <strong>Date:</strong>
  <%= @letter.date %>
</p>

<p>
  <strong>Time1:</strong>
  <%= @letter.time1 %>
</p>

<p>
  <strong>Time2:</strong>
  <%= @letter.time2 %>
</p>

<p>
  <strong>Announcements:</strong>
  <%= @letter.announcements %>
</p>

<p>
  <strong>Liturgy:</strong>
  <%= @letter.liturgy %>
</p>

<%= link_to 'Edit', edit_letter_path(@letter) %> |
<%= link_to 'Back', letters_path %>

<p>
  <button type="button" onclick="alert('Publish to App')">Publish to App</button> |
  <button type="button" onclick="<%=render('show.json.jbuilder')%>">Publish to Word</button> |
  <button type="button">Publish to PDF</button>
</p>